<ion-header>
  <ion-toolbar>
    <ion-title>
      <span *ngIf="monster$ | async as monster; else loadingOrErrorTitle">
        {{monster?.name}}
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="monster$ | async as monster; else loadingOrErrorContent">
    <h1>{{monster?.name}}</h1>
    <p *ngIf="monster?.hitPoints"><b>Hit Points</b> {{monster?.hitPoints}}</p>
    <p *ngIf="monster?.damage"><b>Damage</b> {{monster?.damage}}</p>
  </div>
</ion-content>

<ng-template #loadingOrErrorTitle>
  <span *ngIf="errorObject$; else loading">
    {{ errorObject$.statusText }}
  </span>
</ng-template>
<ng-template #loadingOrErrorContent>
  <div *ngIf="errorObject$">
    {{ errorObject$.message }}
  </div>
</ng-template>
<ng-template #loading>
  Loading...
</ng-template>